*{
    margin:0;
    padding:0;
}

body {
    background-color: rgb(208, 162, 245);
    color:#f6f6f6;

}
strong{
    color:#800080;

}
main{
    display:flex;
    padding: 0px 100px 0px 100px;
}
p{
  margin: 40px 50px 50px 0px;  
  font-size: 30px;
}
.p2{
    font-size: 20px;
}
header,footer{
    height: 150px;
}
.b1{
    background-color: #D665B6;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color:#f1eeee;
}
.b2{
    background-color: #800080;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color:#f1eeee;
}
a{
    color:#000000;
    font-size:  20px;
    text-decoration: none;
}
img{
    border-radius: 50px;
}
figcaption{
    font-size: 20px;
    margin-left: 250px;
}