*{
    margin:0;
    padding:0;
}

body {
    background-color: rgb(208, 162, 245);
    color:#f6f6f6;

}
strong{
    color:#800080;

}
main{
    display:flex;
    padding: 0px 200px 0px 100px;
}
p{
  margin: 40px 0px 50px 0px;  
  font-size: 30px;
}
header,footer{
    height: 150px;
}
